<!DOCTYPE html>
<html>
  <head>
    <title>DND</title>
    <script src="../jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='css/main.css'>
    <script type="text/javascript">
      var abc;
      var scop;
      var app = angular.module('myApp', []);
      app.controller("myCtrl", function($scope) {
        $scope.Monsters = {};
        /*
        Sample
          {{"name: "+Monster.name}}
          {{"size: "+Monster.size}}
          {{"type: "+Monster.type}}
          {{"subtype: "+Monster.subtype}}
          {{"alignment: "+Monster.alignment}}
          {{"armor_class: "+Monster.armor_class}}
          {{"hit_points: "+Monster.hit_points}}
          {{"hit_dice: "+Monster.hit_dice}}
          {{"speed: "+Monster.speed}}
          {{"strength: "+Monster.strength}}
          {{"dexterity: "+Monster.dexterity}}
          {{"constitution: "+Monster.constitution}}
          {{"intelligence: "+Monster.intelligence}}
          {{"wisdom: "+Monster.wisdom}}
          {{"charisma: "+Monster.charisma}}
          {{"constitution_save: "+Monster.constitution_save}}
          {{"intelligence_save: "+Monster.intelligence_save}}
          {{"wisdom_save: "+Monster.wisdom_save}}
          {{"history: "+Monster.history}}
          {{"perception: "+Monster.perception}}
          {{"damage_vulnerabilities: "+Monster.damage_vulnerabilities}}
          {{"damage_resistances: "+Monster.damage_resistances}}
          {{"damage_immunities: "+Monster.damage_immunities}}
          {{"condition_immunities: "+Monster.condition_immunities}}
          {{"senses: "+Monster.senses}}
          {{"languages: "+Monster.languages}}
          {{"challenge_rating: "+Monster.challenge_rating}}
          {{"special_abilities:"}}
          <div ng-repeat="special_ability in Monster.special_abilities">
            {{"name: "+special_ability.name}}
            {{"desc: "+special_ability.desc}},
            {{"attack_bonus: "+special_ability.attack_bonus}}
            {{"damage_dice: "+special_ability.damage_dice}}
            {{"damage_bonus: "+special_ability.damage_bonus}}
          </div>
          {{"actions:"}}
          <div ng-repeat="action in Monster.actions">
            {{"name: "+action.name}}
            {{"desc: "+action.desc}},
            {{"attack_bonus: "+action.attack_bonus}}
            {{"damage_dice: "+action.damage_dice}}
            {{"damage_bonus: "+action.damage_bonus}}
          </div>
          {{"legendary_actions:"}}
          <div ng-repeat="legendary_action in Monster.legendary_actions">
            {{"name: "+legendary_action.name}}
            {{"desc: "+legendary_action.desc}},
            {{"attack_bonus: "+legendary_action.attack_bonus}}
            {{"damage_dice: "+legendary_action.damage_dice}}
            {{"damage_bonus: "+legendary_action.damage_bonus}}
          </div>
        */
        $scope.checkString=function(e){
          if(e.replace){
            return true
          }else{
            return false
          }
        };
        $scope.checkObj=function(e){
          if(e.replace){
            return false
          }else{
            return true
          }
        };
        
        $scope.Object = Object;
        scop = $scope;
        //https://dl.dropboxusercontent.com/s/121t7xstyyeofxw/5e-SRD-Spells.json
        //https://dl.dropboxusercontent.com/s/iwz112i0bxp2n4a/5e-SRD-Monsters.json
        $.getJSON('https://dl.dropboxusercontent.com/s/iwz112i0bxp2n4a/5e-SRD-Monsters.json',function(data){
          abc = data;
          $scope.Monsters = data;
          scop.$apply();
        });
        $scope.Monsters = abc;
        scop.$apply();
      });
      
    </script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <div>
      <div ng-repeat="Monster in Monsters" ng-init="Monsters = {}">
        {{Monster.name}}
        <button data-toggle="collapse" data-target="{{('#'+Monster.name).replace(/ /g,'_')}}">{{Monster.name}}</button>
        <div id="{{(''+Monster.name).replace(/ /g,'_')}}">
          {{"name: "+Monster.name}}
          {{"size: "+Monster.size}}
          {{"type: "+Monster.type}}
          {{"subtype: "+Monster.subtype}}
          {{"alignment: "+Monster.alignment}}
          {{"armor_class: "+Monster.armor_class}}
          {{"hit_points: "+Monster.hit_points}}
          {{"hit_dice: "+Monster.hit_dice}}
          {{"speed: "+Monster.speed}}
          {{"strength: "+Monster.strength}}
          {{"dexterity: "+Monster.dexterity}}
          {{"constitution: "+Monster.constitution}}
          {{"intelligence: "+Monster.intelligence}}
          {{"wisdom: "+Monster.wisdom}}
          {{"charisma: "+Monster.charisma}}
          {{"constitution_save: "+Monster.constitution_save}}
          {{"intelligence_save: "+Monster.intelligence_save}}
          {{"wisdom_save: "+Monster.wisdom_save}}
          {{"history: "+Monster.history}}
          {{"perception: "+Monster.perception}}
          {{"damage_vulnerabilities: "+Monster.damage_vulnerabilities}}
          {{"damage_resistances: "+Monster.damage_resistances}}
          {{"damage_immunities: "+Monster.damage_immunities}}
          {{"condition_immunities: "+Monster.condition_immunities}}
          {{"senses: "+Monster.senses}}
          {{"languages: "+Monster.languages}}
          {{"challenge_rating: "+Monster.challenge_rating}}
          {{"special_abilities:"}}
          <div ng-repeat="special_ability in Monster.special_abilities">
            {{"name: "+special_ability.name}}
            {{"desc: "+special_ability.desc}},
            {{"attack_bonus: "+special_ability.attack_bonus}}
            {{"damage_dice: "+special_ability.damage_dice}}
            {{"damage_bonus: "+special_ability.damage_bonus}}
          </div>
          {{"actions:"}}
          <div ng-repeat="action in Monster.actions">
            {{"name: "+action.name}}
            {{"desc: "+action.desc}},
            {{"attack_bonus: "+action.attack_bonus}}
            {{"damage_dice: "+action.damage_dice}}
            {{"damage_bonus: "+action.damage_bonus}}
          </div>
          {{"legendary_actions:"}}
          <div ng-repeat="legendary_action in Monster.legendary_actions">
            {{"name: "+legendary_action.name}}
            {{"desc: "+legendary_action.desc}},
            {{"attack_bonus: "+legendary_action.attack_bonus}}
            {{"damage_dice: "+legendary_action.damage_dice}}
            {{"damage_bonus: "+legendary_action.damage_bonus}}
          </div>
        </div>
      </div>
    </div>
    <!--
    <iframe src = "https://dl.dropboxusercontent.com/s/iwz112i0bxp2n4a/5e-SRD-Monsters.json"></iframe>
    -->
  </body>
</html>
