<!DOCTYPE html>
<html>
  <head>
    <title>DND</title>
    <script src="../jquery-3.2.1.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script><!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link rel='stylesheet' href='css/main.css'>
    <script type="text/javascript">
      var abc;
      var scop;
      var app = angular.module('myApp', []);
      app.controller("myCtrl", function($scope) {
        $scope.Monsters = {};
        /*
        $scope.checkString=function(e){
          if(e.replace){
            return true
          }else{
            return false
          }
        };
        $scope.checkObj=function(e){
          if(e.replace){
            return false
          }else{
            return true
          }
        };
        */
        scop = $scope;
        $scope.Object = Object;
        //https://dl.dropboxusercontent.com/s/121t7xstyyeofxw/5e-SRD-Spells.json
        //https://dl.dropboxusercontent.com/s/iwz112i0bxp2n4a/5e-SRD-Monsters.json
        $.getJSON('https://dl.dropboxusercontent.com/s/iwz112i0bxp2n4a/5e-SRD-Monsters.json',function(data){
          abc = data;
          scop.Monsters = data;
          $scope.Monsters = data;
          scop.$apply();
        });
      });
      
    </script>
  </head>
  <body ng-app="myApp" ng-controller="myCtrl">
    <div>
      <div ng-repeat="Monster in Monsters">
        <button data-toggle="collapse" data-target="{{('#'+Monster.name).replace(/ /g,'_')}}">{{Monster.name}}</button>
        <div id="{{(''+Monster.name).replace(/ /g,'_')}}">
          <div ng-repeat="MonsterCat in Object.keys(Monster)">
            <div>{{MonsterCat + ": " + Monster[MonsterCat]}}</div>
            <div ng-repeat="MonsterSubCat in Object.keys(Monster[MonsterCat])">
              <div>{{MonsterSubCat + ": " + Monster[MonsterCat][MonsterSubCat]}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <iframe src = "https://dl.dropboxusercontent.com/s/iwz112i0bxp2n4a/5e-SRD-Monsters.json"></iframe>
  </body>
</html>
